<body>
    <title>Login</title>
        <h1>Login Form</h1>
   
    <form id="reg-form" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <label for="username">Username </label><br><br/>
        <input id="username" class= "txt-label" type="text" required name="username"/><br><br/>
        
        <label for="pass_word" >Password </label><br><br/>
        <input id="pass_word" class= "txt-label" type="password" required name="password" /><br><br/>

        <input id="submit" type="submit" value="Submit"/>
    </form>
   
</body>
</html>
